.about-section {
	position: relative;
	padding-top: calc(var(--header-height) + 3rem);
	min-height: 100vh;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	z-index: var(--z-normal);
}

.about-section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
			0deg,
			var(--body-bg-color) 0%,
			rgba(9, 9, 121, 0) 75%
		),
		url('/src/images/background-tech.svg');
	z-index: var(--z-back);
	opacity: 0.2;
}

.about-section__container {
	display: grid;
	height: 100%;

	@include from(m) {
		grid-template-columns: 1fr 1fr;
	}
}

.about-section__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	height: 100%;
}

.about-section__title {
	grid-column: 1/3;
}

.about-section__title > strong {
	color: var(--primary-color-alt);
}

.about-section__description {
	color: var(--primary-color);
	font-size: var(--h3-font-size);
	padding-left: var(--padding-short);
	padding-right: var(--padding-short);
	line-height: 2rem;
	font-weight: 500;

	@include from(m) {
		padding-left: var(--padding-normal);
	}
}

.about-section__description > strong {
	color: var(--primary-color-alt);
}
