.contact-section {
	padding: var(--padding-normal);
	height: auto;
	background: var(--primary-color-alt);
	margin-top: var(--margin-short);
}

.contact-section__title {
	color: var(--body-bg-color);
}

.contact__container {
	display: grid;
	padding: var(--padding-short) 0;
	border-radius: var(--border-radius);
	gap: 1rem;

	@include from(m) {
		padding: var(--padding-short);

		grid-template-columns: 1fr 1fr;
	}
}

.contact-social {
	grid-row-start: 1;

	@include from(m) {
		grid-row-start: auto;
	}
}

.form {
	display: grid;
	justify-content: center;
	gap: 1rem;
	color: var(--body-bg-color);
	font-weight: 600;

	& > label {
		font-size: var(--h2-font-size);
	}

	@include from(l) {
		& > label {
			font-size: var(--h3-font-size);
		}
	}
}

.form__button {
	margin-top: 1rem;
}

.social__container {
	display: grid;
	grid-auto-flow: column;
	height: 100%;
	place-content: center;
	gap: 2rem;
}

.social {
	height: 60px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: filter 0.2s, box-shadow 0.5s;
	border-radius: 100%;
	background-color: var(--primary-color);

	&:hover {
		box-shadow: var(--box-shadow);
		transition: all 0.5s;
	}

	&:hover > .social__img {
		filter: invert(68%) sepia(62%) saturate(1928%) hue-rotate(344deg)
			brightness(102%) contrast(101%);

		transition: all 0.2s;
	}
}

.social__img {
	height: 30px;
	width: 30px;
	transition: all 0.2s;
}
