.hero-section__demos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50%;
    width: 100%;
    margin-bottom: 1rem;

    @include from(s) {
        height: auto;
        width: auto;
        margin-bottom: 0;
    }
}

.hero-section__demo-container {
    display: none;
    margin-bottom: 1rem;
    position: absolute;
    left: 88%;
    margin-top: 6rem;
    min-height: 220px;
    min-width: 550px;
    align-items: center;

    @include from(m) {
        display: flex;
    }

    @include from(lx) {
        left: 85%;
    }
}

.hero-section__demo-item {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    width: 280px;
    height: auto;
    transition: transform 0.5s;

    @include from(m) {
        height: 130px;
    }

    @include from(l) {
        width: 500px;
        height: 220px;
    }
}

.hero-section__demo-item--selected {
    border-radius: 10px;
    overflow: hidden;
    width: 85%;
    height: auto;
    left: 2rem;
    transform: skew(00deg, 15deg);
    cursor: pointer;
    animation: UpAndDown 3s infinite ease-in-out;
    -webkit-animation: UpAndDown 3s infinite ease-in-out;

    @include from(s) {
        margin-bottom: 0;
        margin-right: 0;
        position: absolute;
        width: 80%;
        height: auto;
        transform: skew(00deg, 10deg);
    }

    @include from(m) {
        width: 330px;
        height: 150px;
        transform: skew(00deg, 15deg);
        margin-right: 5rem;
    }

    @include from(l) {
        width: 400px;
        height: 220px;
        transform: skew(00deg, 12deg);
    }

    @include from(lx) {
        margin-bottom: 1rem;
        margin-right: 5rem;
        position: absolute;
        width: 500px;
        height: 220px;
        transform: skew(00deg, 10deg);
    }
}

.hero-section__demo-item--unselected {
    display: none;
}

.hero-section__demo-item > img {
    width: 100%;
    height: 100%;
}

.hero-section__demo-item--selected > img {
    width: 100%;
    height: 100%;
}

.hero-section__demo-item--selected > .demo__icon {
    display: none;
}

.hero-section__demo-item:hover {
    transform: translateY(-1px);
    transition: transform 0.5s;
}

.demo__icon {
    position: absolute;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    z-index: var(--z-normal);
}

.demo__icon {
    transition: transform 0.4s;
}

.demo__icon:hover {
    transform: translateY(-3px);
    transition: transform 0.4s;
}

.demo__icon--back > img {
    height: 25px;
    width: 25px;
}
