main {
	background-color: var(--body-bg-color);
	font-family: var(--body-font);
}

.title {
	color: var(--primary-color);
	text-align: center;
	font-size: var(--h1-font-size);
}

.button {
	background-color: var(--primary-color);
	border-radius: 30px;
	padding: 1rem 2rem;
	transition: all 0.5s;
	color: var(--primary-color-alt);
	font-weight: 600;

	&:hover {
		@extend .project-technology:hover;
		box-shadow: var(--box-shadow);
		transition: all 0.5s;
		color: var(--body-bg-color);

		& > * {
			transition: all 0.5s;

			color: var(--body-bg-color);
		}
	}
}
