:root {
	/*  Variables del proyecto  */

	/*  Anchura máxima del contenido en desktop */
	--max-width: 1200px;

	/*  Colores  */
	--primary-color: #ffffff;
	--primary-color-alt: #ff9f1c;
	--title-color: #ffffff;
	--text-color: #001427;
	--body-bg-color: #001427;
	--color: var(--primary-color);
	--color-alt: var(--primary-color-alt);

	/*  Fuentes  */
	--body-font: 'Rubik', sans-serif;
	--title-font: 'Rubik', sans-serif;

	/*  Tamaños  */
	--header-height: 3rem;
	--section-spacing: 4rem;
	--block-spacing: 2rem;
	--body-line-height: 1.6;
	--title-line-height: 1.3;

	/* Tamaños de fuentes */
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--h4-font-size: 0.75rem;
	--big-font-size: 2rem;
	--normal-font-size: 0.7rem;
	--small-font-size: 0.6875rem;
	--smaller-font-size: 0.575rem;

	/* Capas */
	--z-back: -10;
	--z-normal: 1;
	--z-front: 10;
	--z-tooltip: 20;
	--z-overlay: 30;
	--z-modal: 40;
	--z-fixed: 50;
	--z-off-canvas: 100;

	/* Otros */
	--border-radius: 0.5rem;
	--box-shadow: 0 3px 12px rgba(36, 47, 66, 0.5);
	--header-height: 4rem;

	// Paddings
	--padding-normal: 4rem;
	--padding-short: 2rem;

	// Margins
	--margin-normal: var(--padding-normal);
	--margin-short: var(--padding-short);
}

$breakpoints: (
	s: 640px,
	m: 768px,
	l: 1024px,
	lx: 1200px,
);

// Notify Colors
$red: #e63946;
$green: #2a9d8f;
