html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--title-font);
}

ul,
li {
	margin: 0;
}

button,
input {
	outline: none;
	border: none;
}

input,
textarea {
	border-radius: var(--border-radius);
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	resize: none;
	transition: all 0.2s;

	&:focus-visible,
	&:hover {
		transition: all 0.2s;

		box-shadow: var(--box-shadow);
	}
}

input[type='submit'] {
	cursor: pointer;
}

a {
	text-decoration: none;
}

body {
	font-family: var(--body-font);
}

:root {
	@include from(m) {
		--h1-font-size: 3rem;
		--h2-font-size: 2rem;
		--h3-font-size: 1.5rem;
		--big-font-size: 5rem;
	}
}

@font-face {
	font-family: 'Druk Wide Medium';
	src: url('//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.eot');
	src: url('//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.eot?#iefix')
			format('embedded-opentype'),
		url('//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.woff2')
			format('woff2'),
		url('//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.woff')
			format('woff'),
		url('//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.ttf')
			format('truetype'),
		url('//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.svg#Druk Wide Medium')
			format('svg');
}
