h1,
h2,
h3,
h4,
h5,
h5,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--body-font);
}

:root {
    @include from(m) {
        --h1-font-size: 3rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.5rem;
        --big-font-size: 5rem;
    }
}
